<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">StudentTeacherPortal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="LINKS.dashboard">Dashboard</a>
      <a class="nav-item nav-link " [routerLink]="LINKS.viewprofile">View_Profile</a>
      <a class="nav-item nav-link" [routerLink]="LINKS.student">Student</a>
      <a class="nav-item nav-link" [routerLink]="LINKS.mystudents">My_Students</a>
      <a class="nav-item nav-link" [routerLink]="LINKS.updatepassword">Update_password</a>
      <a class="nav-item nav-link " (click)="logout()">LogOut</a>
    </div>
  </div>
</nav>