<h3 class="card-header">Update Password</h3>
<div class="card-body">
    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Current Password</label>
            <input type="password" formControlName="current_password" class="form-control" />

        </div>
        <div class="form-group">
            <label>New Password</label>
            <input type="password" formControlName="new_password" class="form-control" />

        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" formControlName="new_password" class="form-control" />

        </div>
        <div class="form-row">
            <div class="form-group col">
                <button type="submit" class="btn btn-primary">Update </button>
                <a routerLink="/login" class="btn btn-link"></a>

            </div>

        </div>
    </form>
</div>