<h1 class="text-center">{{title}}</h1>
<hr>
<div class="jumbotron">
  <div class="container">
    <div class="row pt-3 mx auto">
      <div class="col-md-6">
        <form [formGroup]="regForm" (submit)="onSubmit()">
          <div class="form-group">
            <label> Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="First Name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required"> Name is required</div>
            </div>
          </div>

          <div class="form group">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

          <div class="form group">
            <label>Gender</label>
            <select formControlName="gender" class="form-control" placeholder="Gender"
              [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">

              <option value="Male">Male</option>
              <option value="Female">Female</option>

            </select>
            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
              <div *ngIf="f.gender.errors.required">Gender is required</div>
            </div>
          </div>

          <div class="form group">
            <label>Secret_Key</label>
            <input type="text" formControlName="secretKey" class="form-control" placeholder="SecretKey"
              [ngClass]="{ 'is-invalid': submitted && f.secretKey.errors }" />
          </div>
          <div class="form group">
            <button type="submit" [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Register</button>
            <button class="btn btn-danger" routerLink="../login">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>